.menu{width:100%;display:table;}
.menu ul{}
.menu ul li{min-width:500px;display:table-row;min-height:75px;background-color:#ecedee;overflow:hidden;display:block;margin-bottom:10px;background-repeat:repeat-x;list-style:none}
#dyr_baslik{display: table-cell;vertical-align: middle;height:75px;display:block;margin-top:0px;position:relative;padding-left:120px;font-weight:bold;font-size:13px;color:#000;text-decoration:none;}
#dyr_baslik span{display: table-cell;vertical-align: middle;height:75px;color:#1b1e24;}
.menu ul li .active{background:url(../img/on.png) top left no-repeat;background-position-x:50px;background-position-y:8px;border-bottom:1px solid #dadada;}
.menu ul li .inactive{background:url(../img/off.png) top left no-repeat;background-position-x:80px;background-position-y:8px;}
.menu ul li ul{display:none;padding:20px 20px 20px 52px;}
.menu ul li ul li ul{margin-bottom:5px;}
.menu ul li ul li{width:100%;display:block;background:none;padding-left:30px;padding-right:20px;font-size:12px;list-style:circle;color:black;}
.menu ul li ul li a{background:none;font-size:12px;height:25px;color:#1D4382;padding-left:0px;border:none;}
.menu ul li ul a{border:none;color:#1D4382}
.dyr_yap_birim{position:absolute;right:0;top:0;line-height:110px;margin-right:20px;font-weight:normal;font-size:11px !important;color:#E01A22 !important;}
.dyr_tarih{position:absolute;right:0;top:12px;line-height:109px;margin-right:20px;font-weight:normal;font-size:11px !important;}
.dyr_metin{min-width:350px;}
.dyrOnemli{background-color:#E01A22;color:white;text-align:center;height:75px;width:50px;display:block;float:left;font-size:10px;line-height:75px;}
.dyrIlan{background-color:#F7931D;color:white;text-align:center;height:75px;width:50px;display:block;float:left;font-size:10px;line-height:75px;}
.dyrDuyuru{background-color:#1B75BB;color:white;text-align:center;height:75px; min-width:80px;display:block;float:left;font-size:10px;line-height:75px;}
.btn_tomato_20_20 { color: white; background-color: tomato; width: 18px; height: 18px; margin-top: 5px; margin-right: 5px; font-size: smaller; border: none; border-radius: 3px; cursor: pointer;}
@media screen and (max-width: 1000px) {.dyr_metin{max-width:350px;}}


.menu ul li ul li ul {
    display: block;
    padding: 0px 0px 0px 0px;
}

.menu ul li ul li {
    min-height: 10px;
}

.menu ul li ul li ul li {
    min-height: 10px;
}
